.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #111;
  color: white;
  padding: 15px;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background: #1e293b;
  color: white;
  padding: 15px;
}

.main {
  flex: 1;
  padding: 20px;
  background: #0f172a;
  color: white;
}