* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  background: #0f172a;
  color: white;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #020617;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #1e293b;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #1e293b;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  padding: 6px;
  border-radius: 5px;
  border: none;
}

/* Buttons */
.btn {
  padding: 8px 15px;
  border: none;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.blue { background: #2563eb; }
.cyan { background: #06b6d4; }
.red { background: #ef4444; }

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}

.card.blue { background: #1d4ed8; }
.card.green { background: #16a34a; }
.card.orange { background: #f59e0b; }
.card.purple { background: #7c3aed; }

/* Chart */
.chart {
  margin-top: 30px;
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

.bars {
  display: flex;
  align-items: flex-end;
  height: 200px;
  gap: 20px;
  margin-top: 20px;
}

.bar {
  flex: 1;
  background: #334155;
  text-align: center;
  padding-top: 10px;
  color: white;
}